## PyBank
* budget_data.csv; 2 columns (data and profit/loss)
* total number of months included in the dataset
* net total amount of profit/loss over entire period
* average of the changes in profit/losses over entire period
* greatest increase in profits (date and amount) 
* greatest decrease in profits (date and amount)

* export text file with results

In [53]:
# import pandas
import pandas as pd

# load data
budget = pd.read_csv('budgetdata.csv')

# view data
budget.head(20)

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
5   Jun-2010         522857
6   Jul-2010        1033096
7   Aug-2010         604885
8   Sep-2010        -216386
9   Oct-2010         477532
10  Nov-2010         893810
11  Dec-2010         -80353
12  Jan-2011         779806
13  Feb-2011        -335203
14  Mar-2011         697845
15  Apr-2011         793163
16  May-2011         485070
17  Jun-2011         584122
18  Jul-2011          62729
19  Aug-2011         668179

In [55]:
# view types of data
budget.dtypes

budget = budget.set_index('Date')


budget.head()

          Profit/Losses
Date
Jan-2010         867884
Feb-2010         984655
Mar-2010         322013
Apr-2010         -69417
May-2010         310503

In [56]:
# number of months in data

totalmonths = budget.shape[0]
monthsformatted = (f"Total Months: {totalmonths}")
print(monthsformatted)

Total Months: 86

In [57]:
# net amount of profits/losses 
netprofit = budget['Profit/Losses'].sum()
netprofitformatted = (f'Total: ${netprofit}')
netprofitformatted

'Total: $38382578'

In [58]:
# average of changes

budget['shift1'] = budget['Profit/Losses'].shift(1)
budget.head()

# new column net change
budget['netchange'] = budget['Profit/Losses'] - budget['shift1']
budget.head()

#average over the net change column
avg_change = budget['netchange'].mean()
avgchangeformatted = (f'Average Change: ${round(avg_change,2)}')
print(avgchangeformatted)

Average Change: $-2315.12

In [61]:
# greatest increase
largestincrease = budget['netchange'].max()
increaserounded = round(largestincrease,)

# date of increase
budget.head()

increasedate = (budget.netchange[budget.netchange == largestincrease].index.tolist())
increasedateformatted = increasedate[0]

increaseformatted = (f"Greatest Increase in Profits: {increasedateformatted} (${increaserounded})")
increaseformatted

'Greatest Increase in Profits: Feb-2012 ($1926159)'

In [63]:
# greatest decrease
largestdecrease = budget['netchange'].min()
decreaserounded = round(largestdecrease,)

decreasedate = budget.netchange[budget.netchange == largestdecrease].index.tolist()
decreasedateformatted = decreasedate[0]

decreaseformatted = (f"Greated Decrease in Profits: {decreasedateformatted} (${decreaserounded})")
decreaseformatted

'Greated Decrease in Profits: Sep-2013 ($-2196167)'

In [64]:
#create financial analysis and write to new text file
with open ('Pybank.txt','w') as file:
    file.write('Financial Analysis')
    file.write('\n')
    file.write('--------------------------')
    file.write('\n')
    file.write(monthsformatted)
    file.write('\n')
    file.write(netprofitformatted)
    file.write('\n')
    file.write(avgchangeformatted)
    file.write('\n')
    file.write(increaseformatted)
    file.write('\n')
    file.write(decreaseformatted)